@charset "UTF-8";

/* Cabeçalho */

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/* Corpo */
.conteudoPrincipal-cursos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
}
.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

/* Footer */

.rodapePrincipal-patrocinadores > .container {
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores > .container > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 10%;
}

.rodapePrincipal-patrocinadores > .container > form {
    width: 20%;
}    

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    justify-content: space-between;
}