@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
h2 {
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    font-weight:normal;
}
section {
    margin: auto;
    width: 82vw;
}
caption {
    margin: 20px 0px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid lightgray;
}
table {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid darkgray;
    width: 75vw;
    max-width: 750px;
    height: 200px;
}
thead {
    background-color: rgba(211, 211, 211, 0.596);
    font-weight: bold;
}
.tdhead {
    padding: 15px 5px;
}
td {
    border-collapse: collapse;
    border: 1px solid darkgray;
    padding: 5px;
    text-align: center;
}